<div class="banner-section container">
  <div class="banner-content">
    <h1>سنتر فيوتشر التعليمي</h1>
    <p>
      سنتر فيوتشر التعليمية تجمع بين الابتكار والجودة تهدف لتقديم تجربة تعليمية
      فريدة لجميع المراحل الدراسية والفئات العمرية. نؤمن بأن التعليم يجب أن يكون
      متاحًا للجميع، لذا نوفر بيئة سهلة الاستخدام تجمع بين التعلم الممتع
      والفعال. نقدّم محتوى أكاديمي عالي الجودة وأساليب تعليم حديثة، مع دعم
      أخصائي تنمية المهارات، ورعاية الأطفال ذوي التوحد وحالات الدمج وصعوبات
      التعلم، لضمان تجربة تعليمية شاملة تُلبي احتياجات كل طالب. نسعى في سنتر
      فيوتشر لأن نكون نموذجًا رائدًا في التعليم، من خلال تطوير مهارات الطلاب
      الأكاديمية والشخصية وتمكينهم من تحقيق أفضل النتائج.
    </p>
    <button>إنظم الان</button>
  </div>
  <div class="hidden lg:block">
    <img
      src="../../../../../../assets/images/banner.png"
      class="max-w-100 image"
      alt="banner-section"
    />
  </div>
</div>
