@import " ../../../../../../../../assets/styles/scss/mixins";
.banner-section {
  height: 100vh;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .banner-content {
    width: 600px;
    h1 {
      font-size: var(--h1);
      color: var(--primary-focus);
      margin-bottom: 40px;

      @include responsive(sm) {
        font-size: var(--h2);
      }
    }

    p {
      font-size: var(--font-size-xlarge);
      font-weight: 500;
      line-height: 2;
      @include responsive(md) {
        font-size: var(--font-size-large);
      }
      @include responsive(sm) {
        font-size: 17px;
      }
    }
    button {
      cursor: pointer;
      margin-top: 20px;
      width: 150px;
      height: 50px;
      font-size: var(--font-size-large);
      background-color: var(--primary-focus);
      color: var(--white);
      border: none;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
  }
  .image {
    width: 500px;
    height: auto;
    display: block;
    animation: floatUpDown 3s ease-in-out infinite;
  }
  .image:hover {
    animation-play-state: paused;
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
