<app-navbar></app-navbar>
<div class="not-found">
  <div class="container">
    <div class="mb-5 image flex justify-content-center align-items-center">
      <img src="../../../../../assets/images/not_found.png" alt="Not Found" />
    </div>

    <h2 class="mb-3">404,صفحة غير موجودة</h2>
    <p class="mb-5 text-center">
      حدث خطأ. يرجى التحقق من الرابط او الصفحة المحددة.
    </p>

    <div class="btn pb-5 flex justify-content-center align-items-center">
      <a routerLink="/" class="border-round">
        <i class="pi pi-home ml-2"></i>
        <span class="go-home">العودة للصفحة الرئيسية</span>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
