@import "../../../../../assets/styles/helpers/table";

::ng-deep {
  .hero-section {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, #2563eb, #1e3a8a);
      z-index: 1;
    }

    .hero-content {
      position: relative;
      z-index: 2;
      padding: 16px 0;
      .img-teacher {
        border-radius: 50%;
        background: #ffffff;
        img {
          border-radius: 50%;
          width: 350px;
          height: 350px;
          object-fit: cover;
          border: 5px solid var(--primary-focus);
        }
      }
    }
  }
  .info-teacher-section {
    margin-bottom: 2rem;
    .banner-section {
      text-align: center;
      margin-bottom: 2rem;
      h1 {
        font-size: var(--h1);
        color: var(--primary-focus);
        text-align: center;
        font-weight: var(--font-weight-bold);
      }
      p {
        font-size: var(--font-size-xlarge);
        font-weight: 500;
        line-height: 2;
      }
    }
    .section-cards {
      .card {
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
          font-size: var(--h3);
          color: var(--primary-focus);
          font-weight: var(--font-weight-bold);
          margin-bottom: 1rem;
        }
        p {
          font-size: var(--font-size-medium);
          line-height: 2;
        }
      }
    }
  }
}
