@import "../../../../../../assets/styles/helpers/table";

.msg-wrap {
  ::ng-deep {
    .filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background: #f9fafb;
      padding: 1rem;
      border-radius: 12px;
      margin-bottom: 1rem;
      border: 1px solid #e5e7eb;
      .search-field {
        input {
          width: 100%;
          border-radius: 10px;
          padding: 16px;
          box-shadow: none;
        }
      }
      .date-field {
        .p-calendar {
          width: 100%;
          input {
            width: 100%;
            border-radius: 10px;
            padding: 16px;
            box-shadow: none;
          }
        }
      }

      .actions {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        button {
          border-radius: 8px;
          font-weight: 600;
          padding: 16px;
          box-shadow: none;
        }
      }
    }
  }
}
