@import "../../../../../../assets/styles/scss/mixins";
.schedule-classes {
  h2 {
    font-size: var(--h2);
    @include responsive(sm) {
      font-size: var(--h4);
    }
  }
  input {
    padding: 12px;
    box-shadow: none;
    border-radius: 12px;
  }
}
@mixin table_border() {
  &:first-of-type {
    border-start-start-radius: 16px;
    border-end-start-radius: 16px;
  }

  &:last-of-type {
    border-start-end-radius: 16px;
    border-end-end-radius: 16px;
  }
}
::ng-deep {
  .p-card-body {
    padding: 16px !important;
  }
  .p-card {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
  .p-dropdown {
    padding: 12px;
    align-items: center;
    box-shadow: none;
    border-radius: 12px;
    .p-dropdown-trigger {
      justify-content: flex-end;
    }
    .p-dropdown-clear-icon {
      left: 3rem;
      right: unset;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
    .p-dropdown-empty-message {
      padding: 10px 5px;
    }
  }
  .p-calendar {
    input {
      padding: 12px;
      box-shadow: none;
      border-radius: 12px;
    }
  }

  .p-datatable-thead {
    height: 40px;
  }
  .p-datatable-gridlines .p-datatable-tbody > tr > td,
  .p-datatable-gridlines .p-datatable-thead > tr > th {
    padding: 1rem;
  }
  .p-datatable .p-datatable-thead > tr > th {
    border-bottom: 3px solid var(--primary-200);
  }
  .p-datatable-wrapper::-webkit-scrollbar {
    height: 8px;
  }
  .p-button .p-button-icon.pi {
    margin-left: 5px;
  }

  .p-datatable .p-datatable-loading-overlay {
    top: 75px !important;
  }
  tbody > tr > td {
    border: 1px solid #ffffff !important;
    padding: 16px !important;
    @include table_border();
  }

  .p-datatable-table {
    border-spacing: 0 1em !important;
    margin-bottom: 0px !important;
  }
  .p-sortable-column[aria-sort="descending"] .pi-sort:before {
    content: "\e919" !important;
  }

  .p-sortable-column[aria-sort="ascending"] .pi-sort:before {
    content: "\e91c" !important;
  }

  .row_data {
    font-size: 14px !important;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .p-datatable .p-datatable-tbody > tr {
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px !important;
    border: 1px solid var(--primary-focus) !important;
  }

  .p-datatable-header {
    background: none !important;
    border: none !important;
  }
  .p-datatable-thead > tr > th {
    background-color: var(--primary-focus);
    color: var(--white) !important;
    font-size: 12px !important;
    text-align: start;
    padding: 16px !important;
    @include table_border();
  }

  @media (max-width: 992px) {
    .row_data {
      margin-bottom: 10px;
    }

    p-button.view_btn {
      background-color: #fcecfa;
      border-radius: 16px !important;
    }

    tbody > tr {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin-bottom: 20px !important;
      padding: 10px;
    }

    tbody > tr > td {
      padding: 0px 1rem !important;
    }

    thead tr {
      display: none;
    }
  }

  p-button {
    .p-button {
      border-radius: 16px !important;
      font-size: var(--font-size-medium) !important;
      padding: 16px !important;
      font-weight: var(--font-weight-medium) !important;
      box-shadow: none !important;
    }
  }
}
